/* .anim{
    opacity:0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
  100%{
    opacity:1;
    transform:translateY(0px);
  }
} */
/* .img1:hover{
  transform: rotateY(180deg);
  
    }
     .img2{
        transition-duration: 1s; 
    }
    .img2:hover{
  transform: rotateY(180deg);
  
    }
     .img3{
        transition-duration: 1s; 
    }
    .img3:hover{
  transform: rotateY(180deg);
  
    }
    .img4{
        transition-duration: 1s; 
    }
    .img4:hover{
  transform: rotateY(180deg);
  
    } */
@media  screen and (max-width:1032px) {
    .header{
        position:absolute;
        left:99px;
        width: 53vw;
        height:60vh;
    }
    .first{
        position:absolute;
        top:70px;
       height:15vh;
       width:129vw;
         line-height: 1.2em;
         transition-duration:0.3s; 
transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);       
         margin-top:40px;
         left:99px;
    }
          .img1{
            position:absolute;
            left:99px;
            top:205px;
          }
          .second{
            position:absolute;
            width:95vw;
            height:15vh;
            top:524px;
            left: 99px;
          }
          .third{
            position:absolute;
            top:540px;
            left:99px;
          }
          .fourth{
            width:111vw;
            height: 12vh;
            position:absolute;
            top:641px;
            left:99px;
          }
          .img2{
            position:absolute;
            top:740px;
            left:99px;
          }
          .fivth{
          position:absolute;
          top:1100px;
          left:99px;
          width:90vw;
          }
          .sixth{
            position:absolute;
            top:1151px;
            left:99px;
          }
          .seventh{
            position:absolute;
            top:1260px;
            left:99px;
            width: 99vw;
          }
          .img3{
            position:absolute;
            top:1430px;
            left:99px;
          }
          .eighth{
            position:absolute;
            top:1800px;
            width: 78vw;
            left: 99px;
          }
          .ninth{
            position:absolute;
            top:1808px;
            width:46vw;
            left:99px;
            
          }
          .tenth{
            position:absolute;
            top:1895px;
            left: 99px;
            width: 84vw;
          }
          .img4{
            position:absolute;
            top:2000px;
            left:99px;
          }
          .eleventh{
            position:absolute;
            top:2340px;
            left:99px;
          }
          .twelth{
            position:absolute;
            top:2381px;
            left:99px;
          }
          .btn{
            position:absolute;
            top:2490px;
            
            left:-45px;
          }
}